<div>

  <h1>À propos</h1>

  <img src="Portrait_of_Countess_d'Ash.jpg" alt="a logo" width="500" />

  <p>Portrait de la Comtesse Dash par Charles de Steuben, 1844
  </p>
  
  <p>À propos du projet</p>

  <p>Dirigé par Prof. Maria Beliaeva Solomon en collaboration avec Clara Danos, Theavy Din, Charlotte Joublot-Ferré, Marie Laverdiere, Madeline Muravchik, Michaelle Vilmont, inscrites dans le programme de master et/ou doctorat en lettres françaises à l'Université du Maryland, ce projet a pour objectif de participer à la valorisation, d’uncorpus méconnu par son édition, son analyse, et sa diffusion. 
</p>

<p>Chaque portrait de la série de « Portraits contemporains" (1858-1859) publiés dans le Figaro, journal hebdomadaire non politique, par Anne-Gabrielle de Cisternes de Coutiras, sous le pseudonyme Jacques Reynaud, a été mis au propre, balisé et annoté par une des étudiantes en master ou doctorat inscrites dans le séminaire « Littérature et Presse au XIXème siècle: retour sur la civilisation du journal à l'ère du numérique » (Automne 2021, Université du Maryland).
</p>

<p>Ces éditions annotées sont d’accès libre et placées sous licence Creative Commons. Elles restituent les portraits dans leur contexte original, telles qu'ils apparaissent dans les colonnes du Figaro; les reproductions sont consultables sur Gallica.  Le site développé sur Gatsby, logiciel libre d’édition électronique, a été réalisé avec le concours de Raffaele Viglianti, chercheur au centre d'humanités numériques de l'État du Maryland (MITH).
</p>

  <p>Example link: <a href="..">go back home</a>
  </p>

</div>