<div>

  <h1>Édition numérique des 7 premiers portraits de la série « Portraits contemporains » de Jacques Reynaud (comtesse Dash)</h1>

  <p>

    Cette édition annotée des « Portraits contemporains » de la comtesse Dash, parus dans le Figaro en 1858 sous le pseudonyme de Jacques Reynaud, a été réalisée sous la direction de Maria Beliaeva Solomon, Assistant Professor au Département de Français et d'Italien de l'Université du Maryland, en collaboration avec Clara Danos, Marie Laverdiere, Michaelle Vilmont (étudiantes de maîtrise) et Theavy Din, Charlotte Joublot-Ferré, Madeline Muravchik (doctorantes), dans le cadre du séminaire « Littérature et Presse au XIXème siècle : retour sur la civilisation du journal à l'ère du numérique » (Automne 2021, Université du Maryland).</p>

</div>